.App {
  width: 60%;
  margin: 5rem auto;
  background-color: rgba(177, 209, 241, 0.708);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgb(166, 163, 163);
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.profile-photo {
  img {
    height: 10em;
    margin: 1em;
  }
}

.profile-details {
  padding: 8px;
}

h1 {
  text-align: center;
}

.profile-field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  label {
    font-weight: bold;
    margin-bottom: 5px;
    width: 100px;
    margin-right: 10px;
  }

  input,
  span {
    flex: 1;
    display: inline-block;
  }
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
}
