* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-primary {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #69176b;
  color: #fff;
  display: block;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #860e8e;
}

.btn-secondary {
  width: 100%;
  margin: 3px 0px;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: rgb(13, 110, 29);
  color: #fff;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: rgb(18, 152, 40);
}

.container {
  margin: 10px;
  height: 100vh;
}
